.body {
    color: #434455;
    font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

:root {
    --brand-color: #ffffff;
}

/*header*/
.header {
    background-color:var(--white, #fff);
    flex-shrink:0;
    padding-top: 0;
    padding-bottom:0;
    border-bottom: 1px solid #e7e9fc;
}

.link {
    text-decoration:none;
}

.link:hover {
    color:#404bbf;
}

.link:focus {
    color:#404bbf;
}
.navigation{
    display: flex;
    align-items: center;
}
.logo {
    color:#4d5ae5;
    text-transform:uppercase;
    font-family:"Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    margin-right:76px;
     
}
.nav-list {
    display: flex;
}

.logo:root {
    color:#4d5ae5;
}

.accent {
    color:#2e2f42;
}

.list {
    list-style:none;
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    display: flex;
    gap: 40px;
    
}
.ul, ol{
    list-style: none;
    padding:0;
    margin:0;
}
img {
display: block;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;}

 p,h1,h2,h3,h4 {
    margin:0;  
 }
 
.guidance {
    color:#2e2f42;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
}
.container {
    width: 1158px; 
    padding: 0 15px; 
    margin:0 auto;

 }

.guidance-link {
padding: 24px 0;
display: block;
}
.header-container {
    display: flex;
    align-items: center;
}
.guidance:hover {
    color: #404bbf;
}

.guidance:focus {
    color: #404bbf;
}

.header-address {
    color:#434455;
    font-style:normal;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    margin-left: auto;
}
.address-container {
    display: flex;
    gap: 40px;
}
.nav-list{
    display: flex;
    gap: 40px;
}

.header-address-list-item {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455;
}
.address-list{
    display: flex;
}
.contacts:hover {
    color:#404bbf;
}

.contacts:focus {
    color:#404bbf;
}

.contacts:root {
    color:#434455;
}

/*main*/
/*Section 1*/

.dark-bg {
    background-color:var(--navyblue, #2e2f42);
    flex-shrink:0;
}

.first-section {
    padding: 188px 0;
}
.main-text {
    color: var(--white, #ffffff);
    text-align:center;

    font-size:56px;
    font-style:normal;
    font-weight:700;
    line-height:1.07;
    letter-spacing:0.02em;
}

.main-button {
    background-color:#4d5ae5;
    font-family:"Roboto", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em;
    color:#ffffff;
    cursor:pointer;
    cursor: pointer;
    display: block;
     min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-button:hover {
    background-color:#404bbf;
}

.main-button:focus {
    background-color:#404bbf;
}
.hidden{
    position: absolute;
     width: 1px;
    height: 1px;
     margin: -1px;
     border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
     clip: rect(0 0 0 0);
    overflow: hidden;
}
/*Section 2*/

.main-second-section {
    color:var(--navyblue, #2e2f42);
    font-family:Roboto;
    font-size:20px;
    font-style:normal;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
}

.main-second-section-text {
    color: var(--slate, #434455);
    font-family:Roboto;
    font-size:16px;
    font-style:normal;
    font-weight:400;
    line-height:1.5;
    letter-spacing:0.02em;}


.second-section {
    flex-basis: calc((100% - 3 * 24px) / 1);
}
.hidden{
    position: absolute;
     width: 1px;
     height: 1px;
    margin: -1px;
     border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
     overflow: hidden;
    }
    .features-container {
     display: flex;
     gap: 24px;
        }

/* section 3 */

.section-team-name {
    background-color:#F4F4FD;
}

.section-team-title-name {
    color:#2e2f42;
    font-weight:700;
    font-size:36px;
    line-height:1.11;
    text-align: center;
    letter-spacing:0.02em;
    text-transform:capitalize;
    margin-bottom: 72px;
    
}
.section-color {
    background-color: #f4f4fd;
}
.team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item-container{
    padding: 32px 0;
}
.section-team-item-name {
    background-color:#FFFFFF;
}
.team-position {
    text-align: center;
}
.section-team-subtitle-name {
    color:#2e2f42;
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
  
}
.subtitle-list {
    list-style-type: none;
}

.section-team-text-name {
    color: var(--slate, #434455);
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
}
.employer-card {
background-color: #fff;
}
/* section 4 */
.section-portfolio{
 padding-top: 120px;
padding-bottom: 120px;
}

.section-title-portfolio {
    color:#2e2f42;
    font-weight:700;
    font-size:36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-align:center;
    text-transform:capitalize;
    
}

.section-subtitle-portfolio {
    color:#2e2f42;
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    
}

.section-text-portfolio {
    color:#434455;
    font-weight:400;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;

   
}
.section-item-portfolio {
    flex-basis: calc(1128px / 6);
}
.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
    .portfolio-container {
     display: flex;
     flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
/*main portfolio*/


.body-portfolio {
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.first-item-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.first-item-header:hover {
    color: #404bbf;
}

.first-item-header:focus {
    color: #404bbf;
}

.first-item-header:root {
    color: #2e2f42;
}

.main-button-portfolio {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #f4f4fd;
    cursor: pointer;
}

.main-button-portfolio:hover {
    color: #ffffff;
    background-color: #404bbf;
}

.main-button-portfolio:focus {
    color: #ffffff;
    background-color: #404bbf;
}

.email-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.email-portfolio:root {
    color: #434455;
}

.email-portfolio:hover {
    color: #404bbf;
}

.email-portfolio:focus {
    color: #404bbf;
}

.phone-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.phone-portfolio:hover {
    color: #404bbf;
}

.phone-portfolio:focus {
    color: #404bbf;
}

.project-text {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
 .app-container {
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
 }
.project-text:root {
    color: #2e2f42;
}

.project-card-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.project-card-text:root {
    color: #434455;
}
/*footer*/

.footer-dark-bg {
    background-color: var(--navyblue, #2e2f42);
    flex-shrink: 0;
}

.logo-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio {
    color: #f4f4fd;
}

.footer-dark-bg-text {
    color: var(--cloud, #f4f4fd);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-container {
    padding: 100px 0;
}